sitemap-tartustour-russia/src/main/java/generated/configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" version="1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="configuration" type="configurationType" />
	<xsd:complexType name="configurationType">
		<xsd:sequence>
			<xsd:element name="batchSize" type="xsd:int" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="delaySplitSize" type="xsd:int" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="delayBetweenPages" type="xsd:int"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="tempDirectory" type="xsd:string" />
			<xsd:element name="domain" type="xsd:string" />
			<xsd:element name="patterns" type="exclusion" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="exclusion">
		<xsd:sequence>
			<xsd:element name="pattern" type="xsd:string" minOccurs="1"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>